@media (max-width: 1025px) {
    .container {
        width: 90%;
    }
    .btn {
        width: 145px;
        height: 40px;
        &_big {
            width: 230px;
	        height: 57px;
        }
    }
    .promo {
        &__nav {
            min-width: 550px;
            padding: 0 15px;
            li {
                padding: 0 5px 0 5px;
            }
        }
        &__contacts {
            flex-direction: column;
            align-items: flex-end;
            row-gap: 5px;
        }
        &__phone {
            &-text {
                display: none;
            }
            &-number {
                font-size: 16px;
            }
        }   
        &__title {
            margin-top: 15px;
            font-size: 54px;
        }
        &__location {
            font-size: 30px;
        }
        &__features {
            &-descr {
                font-size: 12px;
            }
        }
    }
    .opportunity {
        &__wrapper {
            column-gap: 40px;
        }
        &__item {
            &-content {
                width: 350px;
            }
        }
    }
}

@media (max-width: 769px) {
    .promo {
        padding: 23px 0 50px 0;
        &__logo {
            width: 75px;
            img {
                width: 100%;
            }
        }
        &__header {
            flex-direction: column;
        }
        &__nav {
            margin-top: 20px;
            &-item {
                a {
                    font-size: 17px;
                }
            }
        }
        &__contacts {
            margin-top: 20px;
            flex-direction: row;
            align-items: center;
        }
        &__divider {
            margin: 20px auto 0;
        }
        &__subtitle {
            margin-top: 26px;
            font-size: 21px;
        }
        &__title {
            font-size: 44px;
        }
        &__location {
            font-size: 22px;
        }
        &__features {
            column-gap: 10px;
            &-descr {
                font-size: 10px;
            }
        }
    }
    .opportunity {
        &__wrapper {
            column-gap: 20px;
            row-gap: 20px;
        }
        &__item {
            &-content {
                width: 250px;
            }
            &-title {
                font-size: 14px;
            }
            &-descr {
                font-size: 12px;
            }
        }
    }
    .title_subtitle {
        font-size: 18px;
    }
    .ourWork {
        &__item {
            &-title {
                font-size: 15px;
            }
            &-descr {
                font-size: 12px;
            }
        }
    }
    .separator {
        padding: 40px 0;
        &__descr {
            font-size: 17px;
        }
    }
    .testimonials {
        &__wrapper {
            .slick-prev, .slick-next {
                display: none;
            }
        }
    }
}

@media (max-width: 426px) {
    .container {
        width: 100%;
    }
    .promo {
        &__logo {
            width: 55px;
        }
        &__contacts {
            margin-top: 0px;
        }
        &__nav {
            width: 100%;
            &-menu {
                position: fixed;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 0;
                left: -100%;
                width: 50%;
                height: 100vh;
                padding: 20px 15px;
                background-color: rgba(0,0 ,0 ,0.8);
                transition: 0.6s all;
                &_active {
                    left: 0;
                }
            }
            &-item {
                margin-top: 10px;
                padding-right: 0;
                border: none;
            }
            &-link {
                font-size: 20px
            }
        }
        &__subtitle {
            font-size: 14px;
            margin-top: 15px;
        }
        &__title {
            font-size: 30px;
            line-height: 1.2;
        }
        &__location {
            font-size: 16px;
        }
        &__features {
            margin-top: 15px;
            grid-template-columns: repeat(2,1fr);
            padding: 0 20px;
            gap: 10px;
            &-ico {
                height: 50px;
            }
        }
    }
    .btn_big {
        margin-top: 0;
    }
    .iconBig {
        width: 80px;
        height: 80px;
    }
    .hamburger {
		display: block;
		position: fixed;
		right: 20px;
		bottom: 50px;
		width: 30px;
		height: 20px;
        z-index: 10;
		span {
			display: block;
			width: 100%;
			height: 2px;
			background-color: #ffffff;
			margin: 4px 0;
			transition: 0.7s all;
            box-shadow: 0 0 5px #000;
        }
		&_active {
			span {
				margin: -2px 0;
				&:nth-child(1) {
					transform: translateY(6px) rotate(-45deg);
                }
				&:nth-child(2) {
					display: none;
                }
				&:nth-child(3) {
					transform: translateY(6px) rotate(45deg);
                }
            }
        }
    }

    .opportunity {
        &__wrapper {
            grid-template-columns: 1fr;
            column-gap: 20px;
            row-gap: 20px;
        }
        &__item {
            padding: 0 20px;
            &-content {
                width: 100%;
            }
            &-title {
                font-size: 14px;
            }
            &-descr {
                font-size: 12px;
            }
        }
    }
    .title {
        font-size: 20px;
        &_subtitle {
            font-size: 14px;
        }
    }
    .ourWork {
        padding: 20px 0 40px 0;
        &__wrapper {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        &__item {
            margin-top: 20px;
            &-title {
                margin-top: 10px;
            }
        }
    }
    .separator {
        padding: 30px 0;
        min-height: 290px;
        &__title {
            font-size: 20px;
        }
        &__descr {
            font-size: 13px;
            padding: 0 15px;
        }
    }
    .prices {
        padding: 25px 0 40px 0;
        &__wrapper {
            justify-content: center;
        }
    }
    .consultation {
        padding: 0px 0 40px 0;
        &__form {
            margin-top: 50px;
            &-frm {
                padding-top: 50px;
            }
            &-item {
                width: 80%;
            }
        }
    }
    .scheme {
        padding: 30px 0 30px 0;
        &__item {
            width: 80%;
        }
    }
    .testimonials {
        padding: 25px 0 30px 0;
        
    }
}