.promo {
    min-height: 680px;
    padding: 23px 0 82px 0;
    background: grey url('../img/layer-3-copy.jpg') no-repeat center center/cover; 
    &__logo {
        width: 96px;
        img {
            width: 100%;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav {
        min-width: 600px;
        position: relative;

        &-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            margin-bottom: 0;
            z-index: 10;
        }
        &-item {
            border-right: 2px dotted grey;
            padding: 0 14px 0px 14px;
		    &:last-child {
                border-right: none
            }
            &:hover {
                a {
                    color: $main-color;
                    padding-bottom: 10px;
                    border-bottom: 1px solid $main-color;
                    text-decoration: none;
                }
            }
        }
        &-link {
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            color: #ffffff;
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        column-gap: 19px;
    }
    &__phone {
        &-text {
            font-size: 14px;
            font-weight: 300;
            text-align: right;
            color: #ffffff;
        }
        &-number {
            font-size: 19px;
            font-weight: bold;
            text-align: right;
            color: #ffffff;
            &:hover {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
    &__subtitle {
        margin-top: 9px;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
    }
    &__title {
        margin-top: 26px;
        font-size: 72px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: $main-color;
    }
    &__location {
        margin-top: 9px;
        font-size: 42px;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__divider {
        margin: 38px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 83%;
        &-dot {
            margin: 0 15px;
            width: 10px;
            height: 10px;
            border: none;
            border-radius: 100%;
            background-color: #fff;
        }
        span {
            width: calc((100% - 40px) / 2);
            height: 1px;
            background-color: #fff;
        }
    }
    &__features {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(132px, auto);

        justify-content: space-between;
        column-gap: 33px;
        &-item {
            min-height: 132px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        &-ico {
            height: 60px;

        }
        &-descr {
            margin-top: 16px;
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            color: #ffffff;
        }
    }
}