.scheme {
    padding: 51px 0 46px 0;
    background-color: #f3f3f3;
    &__wrapper {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 26px;
    }
    &__item {
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        &-ico {
            height: 50px;
            justify-self: center;
            align-self: center;
        }
        &-title {
            margin-top: 12px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: $main-color;
        }
        &-descr {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: $descr-color;
        }
    }
}