.testimonials {
    padding: 51px 0 65px 0;
    min-height: 470px;
    
    &__wrapper {
        margin: 31px auto 0 auto;
        position: relative;
        width: 100%;
        .slick-prev, .slick-next {
            position: absolute;
            border: none;
            top: 20px;
            left: 40%;
            z-index: 1000;
        }
        .slick-next {
            left: auto;
            right: 40%;
        }
    }
    &__item {
        //width: 600px;
        padding: 0 22px;
        &-photo {
            width: 114px;
            height: 114px;
            margin: 0 auto;
            border-radius: 100%;
            border: none;
            background-color: #fff;
            object-fit: cover;
        }
        &-name {
            margin-top: 18px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }
        &-text {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 300;
            text-align: justify;
            color: $descr-color;
        }
    }
}
